<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/interview_prep/other_problems/not_in_leetcode_nor_lintcode/InsertANodeInSortedList.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="not_in_leetcode_nor_lintcode.InsertANodeInSortedList"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="interview_prep"/>
</launchConfiguration>
